<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Internal log to diagnose NLog issues -->
  <internalLogLevel>Trace</internalLogLevel>
  <internalLogFile>c:\temp\nlog-internal-log.txt</internalLogFile>

  <!-- Define targets -->
  <targets>
    <!-- File target for logs -->
    <target xsi:type="File" name="file" 
            fileName="${basedir}/../../../logs/logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString,StackTrace}" 
            encoding="utf-8"
            createDirs="true" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Log everything to the file -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
